body {
    font-family: Verdana,sans-serif;
    color: #fff;
}
h1 {
    text-align: center;
}

.main {
    width: 650px;
    height: 400px;
    position: absolute;
}
.main2 {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: 700px;
}

.slidewrapper{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.slide{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.first{
    background: #79b1df;
}
.second{
    background: #79b1df;
}
.third{
    background: #79b1df;
}
.arrow {
    width: 50px;
    height: 100%;
    position: absolute;
}
.arrow.next {
    right: 0;
    background: url(../img/next.png) left center no-repeat;
}
.arrow.prev {
    left: 0;
    background: url(../img/prev.png) left center no-repeat;
}
.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
}
.slider-controls .control-slide {
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/radiobtn.png) center bottom no-repeat;
}
.slider-controls .control-slide.active {
    background: url(../img/radiobtn-a.png) center bottom no-repeat;
}

.thumbnail {
    position: relative;

}
.thumbnail-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.thumbnail-container .thumb {
    margin: 5px 5px 0 0;
    width: 100%;
    float: left;
    list-style: none;
    background-color: #79b1df;
}
.thumbnail-container .thumb.active{
    opacity: 0.6;
}