body {
    font-family: Verdana,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.container {
    height: 100%;
    margin: 0 auto;
    background-color: black;
}
.main {
    width: 500px;
    height: 250px;
    position: absolute;
}
.main_right {
    width: 500px;
    height: 250px;
    position: absolute;
    margin-left: 600px;
}
.main_bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    /*margin-top: 300px;*/
}
.main_left {
    width: 500px;
    height: 250px;
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
}
.main_top {
    width: 500px;
    height: 250px;
    position: absolute;
    margin-top: 600px;

}

.main_right_link{
    width: 500px;
    height: 250px;
    position: absolute;
    margin-top: 600px;
    margin-left: 600px;
}
.slidewrapper{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.slide{
    float: left;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slide img{
}

.first{
    background: #79b1df;
}
.second{
    background: #79b1df;
}
.third{
    background: #79b1df;
}
.arrow {
    width: 32px;
    height: 100%;
    position: absolute;
}
.arrow_thumb {
    width: 32px;
    height: 100%;
    position: absolute;
}

.next {
    right: 0;
    background: url(../img/next.png) center center no-repeat;
}
.prev {
    left: 0;
    background: url(../img/prev.png) center center no-repeat;
}
.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
}
.slider-controls .control-slide {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/radiobtn.png) center bottom no-repeat;
}
.slider-controls .control-slide.active {
    background: url(../img/radiobtn-a.png) center bottom no-repeat;
}

.thumbnail {

}
.thumbnail-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.thumbnail-container .thumb {
    /*margin: 5px 5px 0 0;*/
    width: 100%;
    float: left;
    list-style: none;
    background-color: #79b1df;
}
.thumbnail-container .thumb.active{
    opacity: 0.6;
}

.thumbnail-container .thumb a{
    color: #547b9c;
    text-decoration: none;
    position: absolute;
}